#overlay {
  position: fixed;
  display: none;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: 2;
}

#text {
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 25px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}

#form {
  background-color: #A9A9A9;
  padding: 10px;
  border-radius: 25px;
}

/*

The above code

*/

.content {
  background-color: rgba(0, 255, 240, 0.6);
  margin-left: 20%;
  margin-right: 20%;
  text-align: center;
  padding: 16px;
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

/* Put in margin-bottom height of the navbar */

.scroll {
  margin-bottom: 164px;
}

body {
  background-attachment: fixed;
  background-image: url("background.svg");
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
}

.top-container {
  background-color: #f1f1f1;
  padding: 30px;
  text-align: center;
}

.header {
  padding: 10px 16px;
  background-color: #555;
}

.navbar button {
  padding: 14px 16px;
  font-size: 17px;
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
}

#head {
  background-color: white;
}



#mysql tbody tr:nth-child(odd) {
  background: #00ffff;
}

#mysql tbody tr:nth-child(even) {
  background: white;
}

#mysql, #mysql th, #mysql td {
  font-size: 15px;
  border: 1px solid black;
  cursor: pointer;
}

.sortable th {
  text-align: center;
}

table.sortable tr:hover td {
  background-color: #ddd;
}

td select, td input {
  width: 100%;
}

#one, #two, #tre {
  align-items: center;
  margin-left:auto;
  margin-right:auto;
}

.input {
  background-image: url("search.png");
  /* Add a search icon to input */
  background-position: 10px 12px;
  background-size: 24px 24px;
  /* Position the search icon */
  background-repeat: no-repeat;
  /* Do not repeat the icon image */
  width: 60%;
  margin-left: 20%;
  margin-right: 20%;
  /* Full-width */
  font-size: 16px;
  /* Increase font-size */
  padding: 12px 20px 12px 40px;
  /* Add some padding */
  border: 1px solid #ddd;
  /* Add a grey border */
  margin-bottom: 12px;
  /* Add some space below the input */
}

.static {
  height: 1000px;
}
